// src/styles/main.scss
$border: #eee;

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, 'Noto Sans';
  margin: 0;
  background-color: gray;
}

nav {
  a {
    display: inline-block;
    margin-right: 8px;
  }
}

table {
  border-collapse: collapse;

  th, td {
    border-bottom: 1px solid $border;
    padding: 8px;
  }
}
